<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
  <mat-drawer
    #sidenav
    [mode]="'over'"
    [position]="'end'"
    (closedStart)="clearSelectedPoi()"
  >
    <m7-poi *ngIf="selectedPoi" [poi]="selectedPoi"></m7-poi>
  </mat-drawer>
  <mat-drawer-content>
    <div class="home-content">
      <h1 class="mat-h1">Pontos de interesse</h1>
      <div fxLayoutAlign="center center" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let poi of pois"
          (afterExpand)="loadPoiMap(poi)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> {{ poi.nome }} </mat-panel-title>
            <mat-panel-description>
              Lat: {{ poi.latitude }}, Long: {{ poi.longitude }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutGap="16px">
            <m7-map
              [latitude]="poi.latitude"
              [longitude]="poi.longitude"
              [radians]="poi.raio"
            ></m7-map>
            <div fxLayout="column" fxLayoutAlign="space-between start">
              <p>Raio: {{ poi.raio }}m</p>
              <button mat-flat-button color="accent" (click)="openSidenav(poi)">
                Ver veículos na posição
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
